@import "../common/common.scss";

%em{
    display: block;
    width:.36rem;
    height: .36rem;
    border:#aaa solid 1px;
    border-radius: 50%;
}

#cart{
    height: 100%;
    display: flex;
    flex-direction: column;
    header{
        height:.8rem;
        width:100%;
        background: #e3393c;
        position: relative;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        span{
            font-size:.3rem;
            color:#fff;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
        i{
            color:#fff;
            margin-left: .2rem;
            font-size:.2rem;
            position: relative;
            @extend %lianjie;
            
        }
    }
    .content{
        flex:1;
        background: #efeff4;
        padding-bottom:.2rem;
        article{
            background: #fff;
            margin-top: .2rem;
            summary{
                height: .62rem;
                border-bottom: #e2e2e5 solid 1px;
                padding:0 .2rem;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                em{
                    @extend %em;
                }
                i{
                    margin-left: .2rem;
                }
                span{
                    margin-left:.1rem;
                    font-weight: bold;
                }
            }
            ul{
                padding:0 .2rem;
                li{
                    display: flex;
                    justify-content: flex-start;
                    border-top:#e2e2e5 solid 1px;
                    padding:.16rem 0;
                    em{
                        @extend %em;
                    }
                    img{
                        width: 1.5rem;
                        height: 1.5rem;
                        margin-left:.1rem;
                    }
                    .number{
                        width: 2.7rem;
                        height: 1.5rem;
                        margin:0 .2rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        p{
                            width: 100%;
                        }
                        form{
                            width: 1.78rem;
                            height: .55rem;
                            border:#b2b2b2 solid 1px;
                            border-radius:.06rem;
                            display: flex;
                            justify-content: flex-start;
                            button{
                                display: inline-block;
                                width: .54rem;
                                height: .50rem;
                                background: #fff;
                                border:none;
                            }
                            input{
                                display: inline-block;
                                padding:0;
                                margin:0;
                                width: .64rem;
                                height: .50rem;
                                border:none;
                                border-left:#b2b2b2 solid 1px;
                                border-right:#b2b2b2 solid 1px;
                                background: #fff;
                                text-align: center;
                            }
                        }
                    }
                    .price{
                        height: 1.5rem;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        b{
                            
                        }
                        i{
                            display: flex;
                            justify-content: flex-end;
                            font-size: .3rem;
                        }
                    }
                    
                }
            }
        }
        
    }
    footer{
        height: .9rem;
        width: 100%;
        background: #f6f6f6;
        ul{
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: flex-start;
            li{
                height: 100%;
                &:nth-child(1){
                    flex:1;
                    display: flex;
                    justify-content: space-around;
                    align-items: center !important;
                    em{
                        @extend %em;
                    }
                    span{
                        font-weight: bold;
                        font-size:.14rem;
                    }
                    
                }
                &:nth-child(2){
                    flex:2;
                    color:#ccc;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: space-around;
                    strong{
                        color:#000;
                        margin-bottom: .1rem;
                        b{
                            color:#B60005;
                        }
                    }
                }
                &:nth-child(3){
                    flex:1;
                    background: #B60005;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    font-weight: bold;
                    color:#fff;
                    font-size: .3rem;
                }
                
            }
        }    
        
    }
}//#cart
