.cart{
    width: 100%;
    overflow: hidden;
    .excit{
        display: flex;
        justify-content: center;
        align-items: center;
        height: .8rem;  
        padding: 0 .2rem;
        background: #e3393c;
        color: #fff;
        .ic{
            font-size: .4rem;
            height: 100%;
            width: .8rem;
            text-align: center;
            line-height: .8rem;
            color: #fff;
        }  
        .login{
            flex:1;
            text-align: center;
            font-size: .3rem;
        }
        .reg{
           height: 100%;
           width: .8rem; 
           background: #e3393c;
           border: 0;
           color: #fff;
        }
    }
    form{
        width: 100%;
        margin:.4rem 0;
        background: #fff;
        .name,.password{
            width: 100%;
            height: .7rem;
            display: flex;
            justify-content: center;
            align-items: center;
            label{
                width: 25%;
                height: 100%;
                line-height: .7rem;
                text-align: center;
            }
            input{
                height: 100%;
                flex: 1;
                border: 0;
            }
        }
        .hr{
            width: 90%;
        }
    }
    .btn{
        margin:0 5%;
        padding:.21rem 0;
        width: 90%;
        background: #dd524d;
        border: 0;
        font-size: .4rem;
        color: #fff;
        border-radius: .08rem;
        cursor: pointer;
    }
    .forget{
        width: 95%;
        text-align: right;
        padding-right: .2rem;
        margin-top: .3rem;
        color: #007aff;
    }
}