@charset "utf-8";
/* CSS Document */
body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, p, blockquote, th, td,header,nav,section,article,summary,figure,figcaption,footer { margin:0; padding:0; }
body { font:0.14rem/0.24rem "微软雅黑"; color:#333; background:#fff;}
fieldset, img { border:0; }
ol, ul { list-style:none; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
em { font-style:normal; }
input, button, select, textarea { outline:none; } 
textarea { resize:none; }
p{ text-align:justify;}
a { color: #666; text-decoration:none; }
a:hover { color: #f60; text-decoration:none; }
.clearfix:after{content:"";/*里面可以为空、内容的意思*/
				visibility:hidden; /*隐藏*/
				height:0;
				display:block;
				clear:both;
				overflow:hidden;
}
.clearfix{zoom:1;/*这个转为解决IE6的bug的*/}


.iconfont {
  font-family:"iconfont" !important;
  font-size:26px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
@font-face {
  font-family: 'iconfont';  /* project id 219560 */
  src: url('//at.alicdn.com/t/font_o5ohwke4pweqxgvi.eot');
  src: url('//at.alicdn.com/t/font_o5ohwke4pweqxgvi.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_o5ohwke4pweqxgvi.woff') format('woff'),
  url('//at.alicdn.com/t/font_o5ohwke4pweqxgvi.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_o5ohwke4pweqxgvi.svg#iconfont') format('svg');
}

@font-face {
  font-family: 'iconfont';  /* project id 219762 */
  src: url('//at.alicdn.com/t/font_sdntntdpghaug14i.eot');
  src: url('//at.alicdn.com/t/font_sdntntdpghaug14i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_sdntntdpghaug14i.woff') format('woff'),
  url('//at.alicdn.com/t/font_sdntntdpghaug14i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_sdntntdpghaug14i.svg#iconfont') format('svg');
}
